:root {
	--modspotify_indicator_fg_and_button_bg: var(--modspotify_accentcolor) !important;
	--modspotify_sidebar_indicator_and_hover_button_bg: var(--modspotify_accentcolor) !important;
	--modspotify_main_bg: var(--modspotify_thebackground) !important;
}
/*scroller stuff*/
::-webkit-scrollbar {
    width: 8px !important;
}
::-webkit-scrollbar-thumb {
    background-color: var(--modspotify_accentcolor) !important;
}
::-webkit-scrollbar-track {
    background-color: var(--modspotify_thebackground) !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px !important;
}
::-webkit-scrollbar-button {
    display: none !important;
}
.LeftSidebar__scroll-section::-webkit-scrollbar-thumb {
    background-color: var(--modspotify_thebackground) !important;
}
.LeftSidebar__scroll-section::-webkit-scrollbar-track {
    background-color: transparent !important;
}
/*end scroller stuff*/

/*display nones*/
#new-playlist-button-mount-point,
.upgrade-button {
    display: none !important;
}

/*the background colors and shit*/
.Header__background-overlay, .glue-page-header__background-overlay, .GlueHeader__background-overlay {
	background-color: var(--modspotify_thebackground) !important;
}
.sidebar-top-items, .sidebar-navbar, .LeftSidebar__scroll-section, .LeftSidebar__scroll-section .Rootlist {
	background-color: var(--modspotify_accentcolor) !important;
}

/* cool padding for the cards and not for then non cards. */
.Card--playlist,
.Card--album,
.Card--show,
.genre-card,
.Card--artist,
.Card--track,
.Card--episode,
.card-type-show,
.card-type-episode,
.card-type-playlist,
.card-type-album {
    background-color: var(--modspotify_accentcolor);
    padding: 10px;
    border-radius: 5px;
}
.sticky-top .Card--playlist,
.sticky-top .Card--album,
.sticky-top .Card--show,
.sticky-top .genre-card,
.sticky-top .Card--artist,
.sticky-top .Card--track,
.sticky-top .Card--episode,
.sticky-top .card-type-show,
.sticky-top .card-type-episode,
.sticky-top .card-type-playlist,
.sticky-top .card-type-album,
.card-horizontal, .buddy-card .card {
    background-color: transparent !important;
    padding: 0px !important;
    border-radius: 0px !important;
}
.card-info-wrapper {
	margin-top: 0px !important;
 }

/*spotify css is shit*/
#header {
	margin-right: -8px !important;
}
#view-now-playing {
	border-top: 0px;
}
.view-player .now-playing .cover-image-link-wrapper {
    flex: 0 1 72px;
    height: 72px;
}
.view-player .now-playing .cover-image-link figure {
    height: 72px;
    width: 72px;
	left: -25px;
}
.now-playing.image-expanded .cover-image-link-wrapper {
	display: none !important;
}
.container.hub-page {
	margin-top: 0% !important;
}
.Card__image,
.Card__overlay,
.profile .avatar,
.friend .user-play-button .card-image,
.friend .user-play-button .card-placeholder-wrapper,
.friend .user-play-button .card-overlay,
.friend .user-play-button .card-button-play,
.friend .user-play-button .card-button-play:before,
.friend .user-play-button .card-button-play:after {
	border-radius: 0px !important;
}
/*...and too bright*/
.SearchInput {
    color: white;
	border-style: ridge;
	border-color: var(--modspotify_accentcolor);
}
.SearchInput__input {
    color: white;
    background-color: transparent;
    padding-left: 25px;
    border-radius: 0;
    border-bottom: 0;
}

/*context menu poggers*/
#context-menu-container .context-menu {
	border-color: var(--modspotify_accentcolor);
	border-style: ridge;
	border-width: 1px;
}
#context-menu-container .context-menu .sep, #context-menu-container .context-menu .item.hover{
	background-color: var(--modspotify_accentcolor);
}

/*green't controls */
#view-player .player-controls-container .controls .button:not(.button-play) {
    color: #c0c0c0 !important;
}
#view-player .player-controls-container .controls .button:not(.button-play):hover {
    color: #D9D9D9 !important;
}
#view-player .player-controls-container .controls .button.active:not(.button-play) {
    color: #FFFFFF !important;
}
#view-player .player-controls-container .controls .button.active:not(.button-play)::after {
	background-color: #FFFFFF !important;
}
